<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/aboutus.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300;1,400;1,500;1,600&family=Poppins:wght@100;200;400;500;600;800&display=swap" rel="stylesheet">
    <title>About Us</title>
  </head>
  <body>
    <div class="about-section">
        <h1>MediQuery Team</h1>
        <h4>Here at MediQuery, we believe at quality medical assisstance at a reasonable expense.</h4>
        <h5>Need your daily diabetes medicine? we got you covered!</h5>
        <h5>Need to get your CT scan done? we got you covered!</h5>
        <div class="copyright"> &copy; MediQuery</div>
      </div>
      
      <div class="row">
        <div class="column">
          <div class="card">
            <img class="img" src="../public/assets/images/teresa.jpeg"  style="width:100%">
            <div class="container">
              <h2>Teresa Louis</h2>
              <p class="title">Front-end developer</p>
              <p>+91 70023 75113</p>
              <p>teresa_ug@cse.nits.ac.in</p>
              <p><a href="https://www.linkedin.com/in/teresa-louis-80974b1a0/" target="_blank">LinkedIn</a></p>
              
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img class="img" src="../public/assets/images/aditya.jpeg" style="width:100%">
            <div class="container">
              <h2>Aditya Agarwal</h2>
              <p class="title">Full Stack developer</p>
              <p>+91 97823 00375</p>
              <p>aditya.agarwal.20012712@gmail.com</p>
              <p><a href="https://www.linkedin.com/in/aditya-agarwal-1b26301a0/" target="_blank">LinkedIn</a></p>
             
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img class="img" src="../public/assets/images/abhishek.jpeg"  style="width:100%">
            <div class="container">
              <h2>Abhishek Bharadwaz</h2>
              <p class="title">Front-end developer</p>
              <p>+91 76360 12703</p>
              <p>abhishekbharadwaz_ug@cse.nit.ac.in</p>
              <p><a href="https://www.linkedin.com/in/abhishek-bharadwaz-458993192/" target="_blank">LinkedIn</a></p>
        
            </div>
          </div>
        </div>
      </div>
  </body>
</html>