<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../public/css/covid.css" />
        
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300;1,400;1,500;1,600&family=Poppins:wght@100;200;300;400;500;600;800&display=swap" rel="stylesheet">
        <title>Covid-19</title>

    </head>
    <body>
        <!-- Heading -->
        <div class='covid'>Covid-19 </div>
        <main>
            <!-- Tabs -->
            <div class="tab">
                <button class="tablinks active" onclick="openPage(event, 'Symptoms')">Symptoms</button>
                <button class="tablinks" onclick="openPage(event, 'Prevention')">Prevention</button>
                <button class="tablinks" onclick="openPage(event, 'Treatments')">Treatments</button>
                <button class="tablinks" onclick="openPage(event, 'Vaccinations')">Vaccinations</button>

            </div>
            <!-- Tab-1 -->
            <div id="Symptoms" class="tabcontent">
                <h1 style='color: rgb(25, 109, 148)'>Symptoms</h1>
                <p>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</p>
                <!-- <br> -->
                <div class='divSymptoms'>
                    Most Common Symtoms:<br>
                    <ul>
                        <li>fever</li>
                        <li>dry cough</li> 
                        <li>tiredness</li>
                    </ul>
                </div>
                <div class='divSymptoms'>
                    Less Common Symptoms:<br>
                    <ul>
                        <li>aches and pains</li>
                        <li>sore throat</li>
                        <li>diarrhea</li>
                        <li>conjunctivitis</li>
                        <li>headache</li>
                        <li>loss of taste or smell</li>
                        <li>a rash on skin, or discolouration of fingers or toes</li>
                    </ul>
                </div>
                <div class='divSymptoms'>
                    Serious symptoms:<br>
                    <ul>
                        <li>difficulty breathing or shortness of breath</li>
                        <li>chest pain or pressure</li>
                        <li>loss of speech or movement</li>
                    </ul>
                </div>
                <p>
                    Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.
                </p>
                <p>
                    People with mild symptoms who are otherwise healthy should manage their symptoms at home.
                </p>
                <p>
                    On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.
                </p>
            <hr>
            </div>           
            <!-- Tab-2 -->
            <div id="Prevention" class="tabcontent">
                <h1 style='color: rgb(25, 109, 148)'>Prevention</h1>
                <div class='wearMasks'>
                    <div><img src='../public/assets/images/mask.png' class='icon'></div>
                    <p class='highlight'>Wear a mask.Save lives.</p>
                    <p> Wear a face cover<br>
                        Wash your hands<br>
                        Keep a safe distance</p>
                </div>
                
                    <p>Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority.
                    </p>
                    <div class='divSymptoms'>
                    <p>
                        To prevent the spread of COVID-19:
                        <ul>
                            <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
                            <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
                            <li>Wear a mask when physical distancing is not possible.</li>    
                            <li> Don’t touch your eyes, nose or mouth.</li>  
                            <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li> 
                            <li> Stay home if you feel unwell.</li>   
                            <li>If you have a fever, cough and difficulty breathing, seek medical attention.</li>
                        </ul>
                    </p>
                </div>
                
                    <p>
                        Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.
                    </p>
                    <p>
                        <h3><b>Masks</b></h3>
                        Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.
                    </p>
                    <hr>              
            </div>            
            <!-- Tab-3 -->
            <div id="Treatments" class="tabcontent">
                <h1 style='color: rgb(25, 109, 148);'>Treatments</h1>
                <div>
                    <p>
                        <h3>Self-Care</h3>
                        After exposure to someone who has COVID-19, do the following:
                        <ul>
                        <li>Call your health care provider or COVID-19 hotline to find out where and when to get a test.</li>
                        <li>Cooperate with contact-tracing procedures to stop the spread of the virus.</li>
                        <li>If testing is not available, stay home and away from others for 14 days.</li>
                        <li>While you are in quarantine, do not go to work, to school or to public places. Ask someone to bring you supplies.</li>
                        <li>Keep at least a 1-metre distance from others, even from your family members.</li>
                        <li>Wear a medical mask to protect others, including if/when you need to seek medical care.</li>
                        <li>Clean your hands frequently.</li>
                        <li>Stay in a separate room from other family members, and if not possible, wear a medical mask.</li>
                        <li>Keep the room well-ventilated.</li>
                        <li>If you share a room, place beds at least 1 metre apart.</li>
                        <li>Monitor yourself for any symptoms for 14 days.</li>
                        <li>Call your health care provider immediately if you have any of these danger signs: difficulty breathing, loss of speech or mobility, confusion or chest pain.</li>
                        <li>Stay positive by keeping in touch with loved ones by phone or online, and by exercising at home.</li>
                        </ul>
                    </p>
                    <p>
                        <h3><b>Medical Treatments</b></h3>
                        Scientists around the world are working to find and develop treatments for COVID-19.
                        <ul>
                            <li>Optimal supportive care includes oxygen for severely ill patients and those who are at risk for severe disease and more advanced respiratory support such as ventilation for patients who are critically ill.</li>
                            <li>Dexamethasone is a corticosteroid that can help reduce the length of time on a ventilator and save lives of patients with severe and critical illness.</li>
                        </ul>
                        WHO does not recommend self-medication with any medicines, including antibiotics, as a prevention or cure for COVID-19.
                    </p>
                </div>          
                <hr>            
            </div>
            <!-- Tab-4 -->
            <div id="Vaccinations" class="tabcontent">
                <h1 style='color: rgb(25, 109, 148)'>Vaccinations</h1>
                <h2 style='color: rgb(19, 84, 114)'>FAQs</h2> 
                <ul>
                    <li class='divSymptoms'>
                        Where should I register for the vaccination?<br>
                        <div class='ans'>Register on the Co-WIN Portal and schedule your vaccination appointment. https://www.cowin.gov.in/home</div>
                    </li>
                    <li class='divSymptoms'>
                        Where can I get the vaccine from?<br>
                        <div class='ans'>Vaccines are available from Government and Private Health Facilities as notified, known as COVID Vaccination Centres (CVCs)</div>
                    </li>
                    <li class='divSymptoms'>
                        How do I pre-register myself online for an appointment for vaccination?<br>
                        <div class='ans'>Online registration and appointment can be done through Co-WIN portal.<br>

                            You will have to give some basic information about yourself and details of your photo identification card to get yourself registered online.<br>
                            
                            From one mobile phone number, one can register 4 people, however, each person will need their own photo identification document.<br>
                            
                            If Aadhar card is used as identification document, consent will be obtained and recorded.<br>
                            
                            Through the portal, you can find out the list of available CVCs and dates and time of available vaccination slots, to book an appointment as per your choice. You will need an OTP verification prior to registration and a confirmation slip/token will be generated after registration. You will also get a confirmatory sms later.<br>
                            
                            For all Private Hospitals, prior registration and appointment will be the only method of registration.<br>
                            
                            For Government hospitals, a proportion of slots will be available for online registration and appointment, the rest will be kept for on site registration and vaccination.<br>
                            
                            Appointments for any date for a Vaccination Center will be closed at 12:00 pm on the day prior to the date.</div>
                    </li>
                    <li class='divSymptoms'>
                        If I cannot pre-register myself online, how do I register on the spot and get vaccinated?<br>
                        <div class='ans'>Those who cannot get themselves registered online can contact their local Government health workers, who will help the beneficiaries to the Government CVC for on the spot registration, appointment, verification and vaccination on the same day. Please ask your nearest Governmen health care worker to guide you about the nearest Government CVC where COVID vaccination will be available and the days of the week when this will be available. You need to carry your mobile phone and a photo identification document to get yourself vaccinated. The workers in the Government CVC will help you to register on the spot, get appointment and get vaccinated on the same day.</div>
                    </li>
                    <li class='divSymptoms'>
                        Will a Photo ID be required at the time of registration?<br>
                        <div class='ans'>The Photo ID produced at the time of registration must be produced and verified at the time of vaccination.</div>
                    </li>
                </ul>

                For more information, visit <a href='https://www.mohfw.gov.in/covid_vaccination/vaccination/index.html'>www.mohfx.gov.in</a>

            </div>
        </main>
        <script src="../public/js/covid.js"></script>

    </body>
</html>